@layer components {
    .btn {
        @apply bg-burgundy hover:bg-burgundy-dark text-white font-bold rounded disabled:bg-btn-disabled;
    }

    @utility btn--primary {
        @apply py-2 px-4;
    }

    @utility btn--xs {
        @apply py-1 px-2;
    }
}
