@layer components {
    .btn {
        @apply bg-burgundy hover:bg-burgundy-dark text-white font-bold rounded disabled:bg-btn-disabled;
    }

    .btn-submit {
        @apply bg-board-blue-dark font-bold text-white rounded px-3 py-2;
    }
}
