@import "tailwindcss";
@import "tailwindcss-safe-area";

/* Base */
@import "./base/reset.css";
@import "./base/base.css";
@import "./base/typography.css";
@import "./base/forms.css";

/* Components */
@import "./components/buttons.css";
@import "./components/board.css";

@theme {
    --font-sans: "GeneralSans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

    /* Breakpoints */
    --breakpoint-xxs: 360px;
    --breakpoint-xs: 490px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-xxl: 1536px;

    --color-cursor: #fff;
    --color-terminal: #000;

    --color-burgundy: #6b1f2b; /* Header, Footer, and Buttons */
    --color-burgundy-dark: #4e151e; /* Hover button State + Other uses possibly */

    --color-skin-400: #efe9dc; /* App Background */
    --color-skin-500: #e7ddcc; /* Tile Background */
    --color-skin-600: #cbb07a; /* Border Color */
    --color-board-lines: #cfcfcf; /* Grid lines */
    --color-ink: #2a2321; /* Text Color */
    --color-btn-disabled: #6B5257;

    --focus-outline: #d6b25e; /* Maybe use for fields on click on them -- Interactive */
}
